server = true
bootstrap_expect = 1
ui = true
# 10.0.2.15 is a special ip address used by virtualbox, so added this in so can access consul gui via host machine (macbook)
client_addr = "10.0.2.15 10.2.5.110"